html 
  head 
    title Create new match
  body
    form(action="/add",method="POST")
      label(for="homeTeam") Home team 
      input#homeTeam(type="text", name="homeTeam")
      br
      label(for="awayTeam") Away team 
      input#awayTeam(type="text", name="awayTeam")
      br
      label(for="score") Score 
      input#name(type="text", name="score")
      br
      label(for="date") Date 
      input#name(type="text", name="date")
      br    
      button(type="submit" ) Submit
