html 
  head 
    title Create new match
  body
    input(placeholder="Home team" name="hometeam" value=hometeam)
    br
    input(placeholder="Away team" name="awayteam" value=awayteam)
    br
    input(placeholder="Date" name="date" type="date" value="date")
    br
    form(action="/add" method="POST")
    input(type="submit", value="Add")          